body {
    font-size: 15pt;
    /*overflow: hiden;
    padding:0;
    margin:0;
   overscroll-behavior: contain;*/

}
canvas{
  /*width:100%;
  height:100%;*/
  background:#EBEBEB;
  position:fixed;

  
}
#btm{
  bottom:0;
}
#btm{
  background:white;
  padding:10px;
  box-shadow:1px -1px 5px 0px #CBCBCB;
  max-width:700px;
}
#colorCtn{
  margin:0 auto;
  width:100%;
  display: flex;
  align-items:center;
  background:rgba(255, 255, 255, 0.535);
  
}
#colorCtn div{
  width:30px;
  height:30px;
  border-radius:15px;
  background: #DBDDEE;
  margin-left:10px;
  box-shadow:1px -1px 5px 0px #B4B5C0;
}
#colorCtn div:hover{
  box-shadow:inset 1px -1px 5px 0px #B4B5C0;

}
nav{
 box-shadow:1px -1px 5px 0px #CBCBCB;
z-index:5;
background:rgba(255, 255, 255, 0.419);
max-width:400px;
}
nav button{
  width:40px;
  height:40px;
  width:19%;
  border-radius:10px;
  display:flex;
  align-items: center;
  justify-content: center;
    margin-left:10px;
    
   color:#005C92;
  
}
nav button:hover{
 background: #3cfff8;
color:rgb(0, 153, 146);
}
#range{
  margin-left:3px;
}
/*,"#FF8C00","#D100FF","#000000","#ffffff","#E6FF00",#45463C]

*/


/*range input style css*/
input[type=range] {
  -webkit-appearance: none;
  margin: 10px 0;
  width: 100%;
}
input[type=range]:focus {
  outline: none;
}
input[type=range]::-webkit-slider-runnable-track {
  width: 60%;
  height:5.8px;
  cursor: pointer;
  box-shadow: 0px 0px 0px #000000, 0px 0px 0px #0d0d0d;
  background:#0064A6;
  border-radius: 25px;
  border: 0px solid #000101;
}
input[type=range]::-webkit-slider-thumb {
  box-shadow: 0px 0px 0px #000000, 0px 0px 0px #0d0d0d;
  border: 0px solid #000000;
   height: 15px;
  width: 15px;
  border-radius:7.2px;
  
  border-radius: 7px;
 background: #87CFFFED;
  cursor: pointer;
  -webkit-appearance: none;
  margin-top: -3.6px;
}
input[type=range]::-webkit-slider-thumb:active,input[type=range]::-moz-range-track:active,input[type=range]::-moz-range-thumb:active{
  width:50px;
  height:50px;
  border-radius:25px;
}
input[type=range]:focus::-webkit-slider-runnable-track {
  background: #ac51b5;
}
input[type=range]::-moz-range-track {
  width: 60%;
  height:5.8px;
  cursor: pointer;

  box-shadow: 0px 0px 0px #000000, 0px 0px 0px #0d0d0d;
  background: #ac51b5;
  border-radius: 25px;
  border: 0px solid #000101;
}
input[type=range]::-moz-range-thumb {
  box-shadow: 0px 0px 0px #000000, 0px 0px 0px #0d0d0d;
  border: 0px solid #000000;
   height: 15px;
  width: 15px;
  border-radius:7.2px;
  background: #87CFFFED;
  border-radius: 7px;
  
  cursor: pointer;
}
input[type=range]::-ms-track {
  width: 60%;
  height: 5.8px;
  cursor: pointer;
  background: transparent;
  border-color: transparent;
  border-width: 39px 0;
  color: transparent;
}
input[type=range]::-ms-fill-lower {
  background: #ac51b5;
  border: 0px solid #000101;
  border-radius: 50px;
  box-shadow: 0px 0px 0px #000000, 0px 0px 0px #0d0d0d;
}
input[type=range]::-ms-fill-upper {
  background: #ac51b5;
  border: 0px solid #000101;
  border-radius: 50px;
  box-shadow: 0px 0px 0px #000000, 0px 0px 0px #0d0d0d;
}
input[type=range]::-ms-thumb {
  box-shadow: 0px 0px 0px #000000, 0px 0px 0px #0d0d0d;
  border: 0px solid #000000;
  height: 15px;
  width: 15px;
  border-radius:7.2px;
  border-radius: 7px;
  background: #87CFFFED;
  cursor: pointer;
}
input[type=range]:focus::-ms-fill-lower {
  background: #ac51b5;
}
input[type=range]:focus::-ms-fill-upper {
  background: #ac51b5;
}



